*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

i {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-style: normal;
    color: #4F5A6A;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



/* ////////////////////////// */




/* Header */
.header {
    width: 100%;
    height: 972px;

    background-image: url(../images/header__inner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__inner {
    width: 100%;
    height: 972px;
}

.header__top {
    padding: 35px 24px 0 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    cursor: pointer;
}

.header__bottom {
    margin-top: 320px;
}

.header__title {
    margin-bottom: 64px;
    max-width: 1138px;
    font-weight: 500;
    font-size:  72px;
    line-height: 80px;
    /* or 111% */

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.header__title span {
    font-weight: 500;
    font-size: 72px;
    line-height: 80px;
    /* or 111% */

    letter-spacing: -0.02em;

    /* black */

    color: #181E28;
}

.header__btn {
    padding: 16px 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    /* black */

    color: #181E28;

    background: #F8FBFD;
    border: 0px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}

.header__btn:hover {
    background: #e8ebed;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__link {
    margin-left: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    text-transform: uppercase;

    /* Белый */

    color: #FFFFFF;
    text-decoration: none;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    color: #f2f2f6;
}



/* Company */
.company {
    padding: 149px 0 80px 0;
}

.company__text {
    margin-bottom: 121px;
    max-width: 794px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.company__title {
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    /* or 125% */

    letter-spacing: -0.02em;

    /* black */

    color: #181E28;
}

.company__subtitles {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}

.company__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */


    /* Grey_1 */

    color: #4F5A6A;
}

.company__slider {
    display: flex;
    gap: 4px;
}

.slider__item {
    padding: 24px;
    width: 25%;
    display: flex;
    flex-direction: column;


    background: #00D4FF;
    backdrop-filter: blur(4px);

    border: 0px solid transparent;
    border-radius: 8px;

    gap: 32px;
}

.slider__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */


    /* black */

    color: #181E28;
}

.slider__number {
    font-weight: 500;
    font-size: 96px;
    line-height: 144px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.slider__years {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */


    /* black */

    color: #181E28;
}


/* Principles */
.principles {
    padding: 120px 0;
}

.principles__inner {
    display: flex;
    flex-direction: column;
}

.principles__title {
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height, or 112% */

    letter-spacing: -0.02em;

    /* black */

    color: #181E28;
}

.principles__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.principles__item {
   max-width: 568px;
   margin-bottom: 120px;
}

.principles__item:nth-child(3),
.principles__item:nth-child(4) {
    margin-bottom: 0;
}

.princ-itm-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */

    letter-spacing: -0.02em;

    /* blue */

    color: #00D4FF;
}

.princ-itm-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    
    
    /* Grey_1 */
    
    color: #4F5A6A; 
}


/* Leaders */
.leaders {
    padding: 120px 0;
    background: #F8FBFD;
}

.leaders__inner {
    display: flex;
    flex-direction: column;
}

.leaders__title {
    padding-bottom: 80px;
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height, or 112% */

    letter-spacing: -0.02em;

    /* black */

    color: #181E28;
}

.leaders__items {
    display: flex;
}

.leaders__item {
    margin-right: 64px;
    max-width: 288px;
}

.leaders__img {
    width: 288px;
    height: 288px;
}

.leaders__name {
    margin-top: 8px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */


    /* black */

    color: #181E28;
}

.leaders__post {
    margin-top: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */


    /* Grey_1 */

    color: #4F5A6A;
}


/* Projects */
.projects {
    padding: 120px 0;
}

.projects__inner {
    display: flex;
    flex-direction: column;
}

.projects__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height, or 112% */

    letter-spacing: -0.02em;

    /* black */

    color: #181E28;
}

.projects__items {
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.projects__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.proj__text-left {
    max-width: 576px;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    /* or 138% */


    /* Grey_1 */

    color: #4F5A6A;
}

.proj__text-right {
    max-width: 576px;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    /* or 138% */


    /* blue */

    color: #00D4FF;
}


/* VR */
.vr {
    padding: 120px 0;
    background: radial-gradient(216.43% 100% at 50% 100%, #5200FF 0%, #180660 100%);
}

.vr__inner {
    display: flex;
    flex-direction: column;
}

.vr__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height, or 112% */

    letter-spacing: -0.02em;

    /* Белый */

    color: #FFFFFF;
}

.vr__items {
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.vr__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vr__text-left {
    max-width: 576px;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    /* or 138% */


    /* Белый */

    color: #FFFFFF;
}

.vr__text-right {
    max-width: 576px;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    /* or 138% */


    /* blue */

    color: #00D4FF;
}


/* Data */
.data {
    padding: 120px 0;
}

.data__inner {
    display: flex;
    flex-direction: column;
}

.data__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height, or 112% */

    letter-spacing: -0.02em;

    /* black */

    color: #181E28;
}

.data__items {
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.data__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data__text-left {
    max-width: 576px;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    /* or 138% */


    /* Grey_1 */

    color: #4F5A6A;
}

.data__text-right {
    max-width: 576px;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    /* or 138% */


    /* blue */

    color: #00D4FF;
}


/* Slider */
.slider {
    padding: 120px 0;
    background: #F8FBFD;
}

.slider__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.slider__title {
    align-self: flex-start;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height, or 112% */

    letter-spacing: -0.02em;

    /* black */

    color: #181E28;
}


/* Contacts */
.contacts {
    padding: 120px 0;
}

.contact__inner {
    display: flex;
    flex-direction: column;
}

.share__title {
    margin-bottom: 120px;
    max-width: 1117px;
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */


    /* black */

    color: #181E28;
}

.share__title span {
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */


    /* blue */

    color: #00D4FF;
}

.input__1 {
    padding: 16px;
    margin-bottom: 8px;
    width: 388px;
    background: #E9EDF2;
    border-radius: 8px;
    border: none;
    outline: none;
}

.input__2 {
    margin-bottom: 120px;
    padding: 16px 16px 110px 16px;
    width: 796px;
    background: #E9EDF2;
    border-radius: 8px;
    border: none;
    outline: none;
}

.input__1::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Grey_2 */

    color: #8E99A9;
}

.input__2::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Grey_2 */

    color: #8E99A9;
}

.contacts_btn {
    padding: 16px 48px 16px 48px;
    border-radius: 8px;
    border: none;
    background: #0075FF;

    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    text-align: center;

    /* Белый */

    color: #FFFFFF;
    cursor: pointer;
    transition: background .2s linear;
}

.contacts_btn:hover {
    background: #2063f5;
}

.contacts_hr {
    margin: 120px 0;
    border: none;
    border-top: 1px #E2E7EE solid;
}

.contacts__us {
    display: flex;
    flex-direction: column;
}

.contact_us__title {
    margin-bottom: 120px;
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height, or 112% */

    letter-spacing: -0.02em;

    /* black */

    color: #181E28;
}

.conctscts__items {
    display: flex;
    justify-content: space-between;
}

.contact__item {
    width: 33.33333%;
}

.contact__title {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Grey_1 */

    color: #4F5A6A;
}

.contact__subtitle {
    width: fit-content;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height, or 138% */

    text-decoration-line: underline;

    /* blue */

    color: #00D4FF;
    cursor: pointer;
}

.contact__location {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* black */

    color: #181E28;
}

.contact__address {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-decoration-line: underline;

    /* Grey_1 */

    color: #4F5A6A;
    cursor: pointer;
}

.contact_us__social {
    margin-top: 120px;
}

.social__title {
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height, or 138% */


    /* black */

    color: #181E28;
}

.social__icons i {
    color: #8E99A9;
    margin-right: 16px;
    cursor: pointer;
}


/* Footer */
.footer {
    padding: 120px 0;
    background: #181E28;
}

.footer__inner {
    display: flex;
    flex-direction: column;
}

.footer__hr {
    display: flex;
    flex-direction: row;
}

.footer__title {
    margin-bottom: 120px;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height, or 138% */


    /* Белый */

    color: #FFFFFF;
}

.footer__items {
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
}

.footer__item {
    width: 592px;
    display: flex;
    align-items: center;
}

.footer__item:first-child {
    margin-right: 16px;
}

.footer__img {
    margin-right: 24px;
}

.footer__item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Белый */

    color: #FFFFFF;
}

.footer__item-subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height, or 138% */

    text-decoration-line: underline;

    /* blue */

    color: #00D4FF;

    cursor: pointer;
}

.footer__hr {
    margin-bottom: 120px;
    border: none;
    border-top: 1px #4F5A6A solid;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Белый */

    color: #FFFFFF;
}

.footer__link {
    margin: 0;
    padding: 0;
    margin-left: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* blue */

    color: #00D4FF;
    text-decoration: none;
}

.footer__link:first-child {
    margin-left: 0;
}